@model PEREKYP2.Models.UserRole
@{
	ViewBag.Title = "Удаление записи";
}
<div>
	<dl class="dl-horizontal">
		<dt>Запись</dt>
		<dd>
			@Html.DisplayFor(model => model.Role)
		</dd>
	</dl>
	<div>
		<form asp-controller="Home" asp-action="DeleteUserRole" method="post">
			<div class="form-group">
				<input type="submit" class = "btn btn-dark" value="Удалить" />
			</div>
		</form>
	</div>
</div>