@model PEREKYP2.Models.HistoryAuto
@{
	ViewBag.Title = "Удаление записи";
}
<div>
	<dl class="dl-horizontal">
		<dt>Запись</dt>
		<dd>
			@Html.DisplayFor(model => model.Milleage)
			@Html.DisplayFor(model => model.Accidents)
		</dd>
	</dl>
	<div>
		<form asp-controller="Home" asp-action="DeleteHistoryAuto" method="post">
			<div class="form-group">
				<input type="submit" class = "btn btn-dark" value="Удалить" />
			</div>
		</form>
	</div>
</div>