@{
    ViewData["Title"] = "Home Page";
}
<h1>Вы авторизовались!</h1>
<a class="btn btn-primary" href="@Url.Action("FIRSTPAGE")">Главная</a>
<a class="btn btn-primary" href="@Url.Action("Logout")">Выход</a>
