@model TEST.Models.TestAuto
@{
	ViewBag.Title = Model.Milleage;
}
<h2>Пользователь @Model.Milleage</h2>
<div>
	<dl class = "dl-horizontal">
		<dt>Индефикатор</dt>
		<dd>@Model.IdTestAuto</dd>

		<dt>Текст</dt>
		<dd>@Model.Milleage</dd>
	</dl>
</div>