@{
	Layout = null;
}
<head>
    <link href="~/css/AUTO.css" rel="stylesheet" />
    <title>Авто</title>
</head>
<body background = "../img/1493750621_imagesbase.ru-5759.jpg">
    <div id="header">
        <img src="zamow-serwis.png"/>
    </div>
    <div class="navigathion">
        <input type="search" placeholder = "Поиск">
            <a asp-controller="Home" asp-action="FIRSTPAGE">Главная</a>
            <a asp-controller="Home" asp-action="FIRSTPAGE">Запчасти</a>
    </div>
    <div class="main" style="font-size: 20px; padding-left: 2%;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="../img/UvgYiPhHfzs.jpg" alt="">
                    </td>
                    <td>
                        Описание:
                    </td>
                    <td>
                        700 000 руб.
                    </td>
                    <td>
                        <button onclick="window.location.href = '';">Купить</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../img/h3Rbz-H45UPyAMYwg9QpPigJaKs-1920.jpg" alt="">
                    </td>
                    <td>
                        Описание:
                    </td>
                    <td>
                        1 200 000 руб.
                    </td>
                    <td>
                        <button onclick="window.location.href = '';">Купить</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../img/335219-svetik.jpg" alt="" >
                    </td>
                    <td>
                        Описание:
                    </td>
                    <td>
                        2 000 000 руб.
                    </td>
                    <td>
                        <button onclick="window.location.href = '';">Купить</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../img/5c26618s-960.jpg" alt="">
                    </td>
                    <td>
                        Описание:
                    </td>
                    <td>
                        3 000 000 руб.
                    </td>
                    <td>
                        <button onclick="window.location.href = '';">Купить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="footer" style="text-align: center;">
        &copy; Все права защищены
    </div>
    
</body>
</html>