@{
	Layout = null;
}
<html lang="en">
<head>
    <link href="~/css/FIRSTPAGE.css" rel="stylesheet" />
    <title>Главная</title>
</head>
<body background = "../img/cars.jpg">
    <div id="header">
        <img src="../img/zamow-serwis.png"/>
    </div>
    <div class="navigathion">
        <input type="search" placeholder = "Поиск">
            <a asp-controller="Home" asp-action="Auto">Автомобили</a>
            <a asp-controller="Home" asp-action="FIRSTPAGE">Запчасти</a>
    </div>
    <div class="main" style="font-size: 20px; padding-left: 2%;">
        Автосалон Перекупщики занимается покупкой транспортных средств всех видов и моделей, не зависимо от
года выпуска вашего автомобиля. Также мы занимаемся продажей восстановленых машин, для работ мы используем
только качественные детали и секреты починки техники, передаваемые из поколения в поколение.
Наши мастера - профессионалы своего дела, а потому вы можете не беспокоиться о качестве покупаемого вами авто.
        <p>
        <img src="../img/troika.jpg">
        </p>
        Компания была основана в 1907 году Гжегожем Бжежстестекевичем - трудолюбивым любителем денег, а также качественных услуг и улыбок клиентов.
В 1945 году компания временно прекратила свою работу ввиду захвата предприятия гитлеровской Германией, но в 2021 году мы возобновили свою работу
и продолжаем радовать вас нашими услугами.
        <p>
            <img src="../img/UvgYiPhHfzs.jpg">
        </p>
    </div>
    <div id="footer">
        &copy; Все права защищены
    </div>
    
</body>
</html>