@{
	Layout = null;
}
@model Perekyp.Models.LoginModel
<html lang="en">
<head>
    <link href="~/css/LOGIN.css" rel="stylesheet" />
    <title>Авторизация</title>
</head>
<body background="../img/1061511-vms-KPP.jpg">
    <div class="ramka">
        <form asp-antiforgery="true" asp-action="Index" asp-controller="Home" autocomplete="off" class="row" style="margin-bottom: 5px;">
                            <fieldset>
                                <div class="form-group col-10 cd-2">
                                    <label for="exampleInputEmail1" class="form-label mt-4"> Логин</label>
                                    <input asp-for="@Model.Login" name="Login" type="text" class="form-control" placeholder="Введите логин">
                                    <small>Никому не сообщайте данные от аккаунта!</small>
                                    <span asp-validation-for="Login"></span>
                                </div>
                                <div class="form-group col-10 cd-2">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Пароль</label>
                                    <input asp-for="@Model.Password" name="Password" type="password" value="" class="form-control" placeholder="************">
                                    <span asp-validation-for="Password"></span>
                                </div>

                                <button type="submit" class="btn btn-outline-info" style="outline: none; box-shadow: none; width: auto; height: auto;">Войти</button>
                            </fieldset>
                        </form>
        <p>
            <a asp-controller="Home" asp-action="REGISTRATION">Зарегистрироваться</a>
        </p>
    </div>
    <div id="footer">
        &copy; Все права защищены
    </div>
</body>
</html>